<template>
	<div class="pane-group">

		<div class="pane">
			<div class="columna">
				<img src="@/assets/img/drone.svg">
				<nuxt-link to="/iniciarVuelo2" target="_blank">
					<button class="btn btn-default" style="margin-top: 2em;" target="_blank">Iniciar vuelo</button>
				</nuxt-link>
			</div>
		</div>

		<div class="pane">
			<div class="columna">
				<img src="@/assets/img/lista_icono.svg" >
				<nuxt-link to="/hisvuelos" target="_blank">
					<div class="app">
						<button class="btn btn-default" style="margin-top: 2em;" target="_blank">Historial de vuelos</button>
					</div>
				</nuxt-link>
			</div>
		</div>

	</div>
</template>

<script>
export default {

}
</script>

<style scoped>
	.columna {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
</style>
