<template>
    <div class="pane-group">
        <div class="pane">
            <div class="contenedor" style="border: black solid 3px; width: fit-content">
                <div class="wifi_parrot">
                    <span class="icon icon-signal" :style="{'color': color_wifi}"></span>
                </div>
                <!-- Contine todos los elementos de cada sección-->
                <div class="caja">
                    <strong>1. </strong>
                        <button class="btn btn-default" style="width: 290px" v-on:click="abrirAPP">Iniciar Mision Planner</button>
                </div>
                <div class="caja">
                    <strong>2. </strong><span>Seleccionar los siguientes datos:</span>
                </div>
                <div class="caja_columna" id="dronPorcentaje">
                    <!-- ********************************************************** -->
                    <span>Seleccionar altura</span>
                    <select class="form-control" v-model="altura">
                        <option v-for="h in alturasY">{{ h }}</option>
                    </select>
                    <span>[ m ]</span>
                    <!-- ********************************************************** -->
                    <span>Rapidez del VANT</span>
                    <select class="form-control" v-model="seleccinadoR">
                        <option v-for="s in rapidezDron">{{ s }}</option>
                    </select>
                    <span>[ m/s ]</span>
                    <!-- ********************************************************** -->
                    <span>Solapamiento</span>
                    <select class="form-control" v-model="seleccionadoP">      <!-- Agregue -->
                        <option v-for="p in solapamientoX">{{ p }}</option>    <!-- Agregue -->
                    </select>
                    <span>[ % ]</span>
                </div>

                <div class="caja">
                    <strong>3. </strong><span>Configurar misión con los siguientes parametros:<span class="icon icon-help-circled"></span></span>
                </div>
                <div class="cajita">
                    <strong>Lapso entre capturas: </strong>
                </div>

                <div class="caja_columna2">
                    <!-- ********************************************************** -->
                    <span>Monocromática:  </span>
                    <span :style="{'color': ColorSelected}" style="font-weight:bold;">{{ mono_1 }}</span>  <!-- Agregue -->
                    <span>[ s ]</span>
                    <span class="icon icon-db-shape" :style="{'color': ColorSelected}"> </span>
                    <!-- ********************************************************** -->
                    <span>RGB:  </span>
                    <span :style="{'color': ColorSelected}" style="font-weight:bold;">{{ rgb_1 }}</span>  <!-- Agregue -->
                    <span>[ s ]</span>
                    <span class="icon icon-db-shape" :style="{'color': ColorSelected}"> </span>
                    <!-- ********************************************************** -->
                    <span>Distancia entre líneas:  </span>
                    <span :style="{'color': ColorSelected}" style="font-weight:bold;">{{ solapamiento }}</span>  <!-- Agregue -->
                    <span>[ m ]</span>
                    <span class="icon icon-db-shape" :style="{'color': ColorSelected}"> </span>
                </div>

                <div class="caja">
                    <strong>4. </strong><span>Cargar misión al VANT:<span class="icon icon-help-circled"></span></span>
                </div>

                <div class="caja"><strong>5. </strong></div>
                <div class="columna2">
                    <img src="@/assets/img/drone.svg" width="80px">
                    <br>
                    <button class="btn btn-default" @click="establecerPosicion" style="width: 150px;">Establecer vuelo</button>   <!-- Agregue -->
                </div>

                <div class="caja"><strong>6. </strong></div>
                <div class="columna2">
                    <img src="@/assets/img/end.svg" width="60px">
                    <br>
                    <button class="btn btn-default" style="width: 150px;" @click="downloadImages">Terminar vuelo</button>
                </div>

            </div>

        </div>
    </div>
</template>
<script>

import {ipcRenderer, shell, remote} from 'electron'
const { app, BrowserWindow } = require("electron");
const pathExists = require('path-exists');
//import hisvuelos from "./hisvuelos"; //en el mismo directorio
//import openBtn from '../openBtn.js' //a partir de la raiz del proyecto
const db = require('electron-db');
const wifi = require("node-wifi");

let nameTable = 'hvuelos';
let valor = '';
let rutaObtenida;
let rutaAPP_MP = 'rutaAPP';

export default{
	data() {
		return{
			solapamientoX: [70, 75, 80, 85],
			alturasY: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150],
			matXY: [
				[0.00, 0.10, -0.10, 0.00],
				[0.28, 0.33, 0.09, 0.14],
				[0.56, 0.56, 0.28, 0.28],
				[0.84, 0.79, 0.47, 0.42],
				[1.12, 1.02, 0.66, 0.56],
				[1.40, 1.25, 0.85, 0.70],
				[1.68, 1.48, 1.04, 0.84],
				[1.96, 1.71, 1.23, 0.98],
				[2.24, 1.94, 1.42, 1.12],
				[2.52, 2.17, 1.61, 1.26],
				[2.80, 2.40, 1.80, 1.40],
				[3.08, 2.63, 1.99, 1.54],
				[3.36, 2.86, 2.18, 1.68],
				[3.64, 3.09, 2.37, 1.82],
				[3.92, 3.32, 2.56, 1.96],
				[4.20, 3.55, 2.75, 2.10],
				[4.48, 3.78, 2.94, 2.24],
				[4.76, 4.01, 3.13, 2.38],
				[5.04, 4.24, 3.32, 2.52],
				[5.32, 4.47, 3.51, 2.66],
				[5.60, 4.70, 3.70, 2.80],
				[5.88, 4.93, 3.89, 2.94],
				[6.16, 5.16, 4.08, 3.08],
				[6.44, 5.39, 4.27, 3.22],
				[6.72, 5.62, 4.46, 3.36],
				[7.00, 5.85, 4.65, 3.50],
				[7.28, 6.08, 4.84, 3.64],
				[7.56, 6.31, 5.03, 3.78],
				[7.84, 6.54, 5.22, 3.92],
				[8.12, 6.77, 5.41, 4.06],				
				[11.1, 9.20, 7.40, 5.50],
				[15.2, 12.7, 10.1, 7.60],
				[19.4, 16.1, 12.9, 9.70],
				[22.1, 18.4, 14.7, 11.1],
				[26.3, 21.9, 17.5, 13.1],
				[30.4, 25.3, 20.3, 15.2],
				[33.2, 27.6, 22.1, 16.6],
				[37.3, 31.1, 24.9, 18.7],
				[40.1, 33.4, 26.7, 20.0],
				[45.6, 38.0, 30.4, 22.8],
				[48.4, 40.3, 32.3, 24.2],
				[51.1, 42.6, 34.1, 25.6],
				[56.7, 47.2, 37.8, 28.3],
			],
			altura :'',
			solapamiento:'',
			resultado:'',
			seleccionadoP:'',
			monocromatico:[3.70,4.90,6.20,7.40,8.60,9.90,11.1,12.4,13.6,14.8,16.1,17.3,18.6],
			rgb: [0.80,1.10,1.40,1.60,1.90,2.20,2.40,2.70,2.90,3.30,3.50,3.70,4.10],
			mono_1:null,
			rgb_1:null,
			imagenes: [],
			rapidezDron:[1, 2, 3, 4, 5 , 10, 13, 20],
			activacionTotalSemiNunguno: [
				[0.2, 0.2, 0.2, 0.2, 0.2, 0.1, 0.1, 0.1],
				[0.2, 0.2, 0.2, 0.2, 0.2, 0.2, 0.1, 0.1],
				[0.3, 0.3, 0.3, 0.2, 0.2, 0.2, 0.2, 0.1],
				[0.3, 0.3, 0.3, 0.3, 0.3, 0.2, 0.2, 0.1],
				[0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.2, 0.1],
				[0.4, 0.4, 0.4, 0.4, 0.4, 0.3, 0.2, 0.1],
				[0.5, 0.4, 0.4, 0.4, 0.4, 0.3, 0.2, 0.1],
				[0.5, 0.5, 0.5, 0.4, 0.4, 0.3, 0.3, 0.1],
				[0.5, 0.5, 0.5, 0.5, 0.5, 0.4, 0.3, 0.1],
				[0.6, 0.6, 0.5, 0.5, 0.5, 0.4, 0.3, 0.2],
				[0.6, 0.6, 0.6, 0.6, 0.5, 0.4, 0.3, 0.2],
				[0.7, 0.7, 0.6, 0.6, 0.6, 0.4, 0.4, 0.2],
				[0.7, 0.7, 0.7, 0.6, 0.6, 0.5, 0.4, 0.2],
				[0.8, 0.7, 0.7, 0.7, 0.7, 0.5, 0.4, 0.2],
				[0.8, 0.8, 0.8, 0.7, 0.7, 0.5, 0.4, 0.2],
				[0.9, 0.8, 0.8, 0.8, 0.7, 0.6, 0.4, 0.2],
				[0.9, 0.9, 0.8, 0.8, 0.8, 0.6, 0.5, 0.2],
				[1.0, 0.9, 0.9, 0.8, 0.8, 0.6, 0.5, 0.2],
				[1.0, 1.0, 0.9, 0.9, 0.8, 0.6, 0.5, 0.2],
				[1.0, 1.0, 1.0, 0.9, 0.9, 0.7, 0.5, 0.2],
				[1.1, 1.0, 1.0, 1.0, 0.9, 0.7, 0.6, 0.3],
				[1.1, 1.1, 1.0, 1.0, 1.0, 0.7, 0.6, 0.3],
				[1.2, 1.1, 1.1, 1.0, 1.0, 0.7, 0.6, 0.3],
				[1.2, 1.2, 1.1, 1.1, 1.0, 0.8, 0.6, 0.3],
				[1.3, 1.2, 1.2, 1.1, 1.1, 0.8, 0.7, 0.3],
				[1.3, 1.3, 1.2, 1.2, 1.1, 0.8, 0.7, 0.3],
				[1.8, 1.7, 1.6, 1.5, 1.5, 1.1, 0.9, 0.4],
				[2.2, 2.1, 2.0, 1.9, 1.9, 1.4, 1.1, 0.5],
				[2.7, 2.6, 2.4, 2.3, 2.2, 1.7, 1.3, 0.6],
				[3.1, 3.0, 2.9, 2.7, 2.6, 2.0, 1.6, 0.7],
				[3.6, 3.4, 3.3, 3.1, 3.0, 2.2, 1.8, 0.8],
				[4.0, 3.9, 3.7, 3.5, 3.4, 2.5, 2.0, 0.9],
				[4.5, 4.3, 4.1, 3.9, 3.7, 2.8, 2.2, 0.9],
				[4.9, 4.7, 4.5, 4.3, 4.1, 3.1, 2.5, 1.0],
				[5.4, 5.1, 4.9, 4.7, 4.5, 3.4, 2.7, 1.1],
				[5.8, 5.6, 5.3, 5.1, 4.9, 3.6, 2.9, 1.2],
				[6.3, 6.0, 5.7, 5.5, 5.2, 3.9, 3.1, 1.3],
				[6.7, 6.4, 6.2, 5.9, 5.6, 4.2, 3.4, 1.4],
			],
			seleccinadoR:'',
			valorR: '',
			activate_TSN:null,
			ColorSelected:'',
			color_wifi:'',
            rutaMP: [],
		}
	},
	mounted: function () {
	    /**
	    * Se crea un JSON para almacenar el historial de vuelos. En donde va a contener
	    * Fecha | hora | número de imágenes | Ruta de imagenes
	    */
		db.createTable(nameTable, (succ, msg) => {
			console.log("Se creo exitosamente??: " + succ);
			console.log("Ya existe??: " + msg);
		});
        db.createTable(rutaAPP_MP, (succ, msg) => {
            console.log("Se creo exitosamente??: " + succ);
            console.log("Ya existe??: " + msg);
        });
		this.establecerConection();
	},
	methods: {
		downloadImages2: function() { ///no hace nada, solo es una prueba
			try {
				let sequoia_ip = '192.168.47.1';
				let directory = "internal/0436";
				this.$http.get('http://' + sequoia_ip + '/file/' + directory).then(function (data, status, request) {
					console.log(data)
				});
			}catch (e) {
				console.error(e);
			}
		},
		establecerConection: function(){
		    let ssidParrot = 'Sequoia_1381';
			let passwordParrot = '';
			/** inicializa el modulo de wifi absolutamente necesario incluso si la interfaz esta en null
             */
			wifi.init({iface: null /** interface de red, selecciona de forma automatica si esta está en null */	});

			/** conectar a la red*/
			wifi.connect({ ssid: ssidParrot, password: passwordParrot }, function(err) {
				if (err) {
					alert('Conexión fallida Intente conectar la camará '+ ssidParrot)
					console.log(err);
				}
				this.color_wifi = 'green';
				console.log("Conectado" + ssid);
				alert("Se ha conectada a " + ssid);
			});
		},
		downloadImages: async function () {
			try {
				let sequoia_ip = "192.168.47.1";// ip de la cámara
				let directory = "internal";//directorio donde estan conetenidas las fotografías tomadas.
				/**
                *Se realiza la petición de tipo AJAX
                * se utiliza el await para esperar un tiempo indeterminado por la descarga total de imagenes
                * Se crea un array para colocar las nombre de las nuevas rutas newDirectory.push(i); y saber
                * en donde se hara la consulta global en la otra condiconal  con el newDirectory[ruta]
                */
				let respuesta = await this.$http.get('http://' + sequoia_ip + '/file/' + directory);//No se como se llaman las carpetas
				let RespuestaBODY = respuesta.body;
				let newDirectory=new Array();//Se alamacenan las rutas especificas qpara la descarga completa.
				let numCarpetas;
				/** ************************************************************************************************ **/
				for(let i in RespuestaBODY ){
				    if ( i != 'request' )//Descarto el archivo tipo request ya que solo necesitamos las imagenes en las bandas
						newDirectory.push(i);
				}
				console.log(newDirectory);
				numCarpetas = newDirectory.length;
				for (let ruta in newDirectory){
					if ( ruta != 'request' ){//ruta es la variable que itera o mejor dicho, es el índice de iteración
					    /**
					    * Se hace una promesa de recolectar todos  los datos de la camára
					    * usando la funcion  downloadSingle se manda la ruta completa
					    * y con el await se mantiene en espera hasta terminar su tarea
					    * en otras palabras, este trabajo no afecta ya que la promesa ayuda en
					    * la descarga de forma ASINCRONA.
					    * */
						await this.downloadSingle("http://" + sequoia_ip + "/download" + newDirectory[ruta]);
						/**Despues de un tiempo T, se obtienen las imagenes*/
						this.insertTable_his(numCarpetas);
					}
				}
				console.log('FIN');
			} catch (e) {
			    /** si existe un error el catch mostrará el error **/
				alert('Hubo un error');
				console.error(e);
			}
		},
		downloadSingle: function (url) {
			return new Promise((res,rej)=>{
				ipcRenderer.send("download",{ url: url, onError:function (err) {
					rej(err)
				}});
				ipcRenderer.once("download complete",(event, Pathfinal) => {

				    console.log(Pathfinal)
                    /** Checar si es la ruta de descargas para enviarlo al historial ****************************************/
                },function () {
					res('ok')
				})
			})
		},
        setupcamera: async function(){
            /** Colocar valor en cámara multiespectral mediante el uso de este método (setupcamera)*/
            let sequoia_ip = "192.168.47.1";// ip de la cámara
            let directory = "config";//directorio donde estan conetenidas las fotografías tomadas.
            let solapamiento_C = this.solapamiento;

		    try {
                let url_Config = "http://" + sequoia_ip + "/" + directory + "/";  //url
                let setValue = await this.http.post( url_Config , {
                    body: {
                        "timelapse_param" : solapamiento_C
                    }
                }); //petición POST
                /** Pasamos la ruta url */
                console.log(setValue);
            }catch (e) {
                /** si existe un error el catch mostrará el error **/
                alert('Hubo un error al colocar el valor');
                console.error(e);
            }
        },
		establecerPosicion: function(){
		    /**Convertir el valor del string a un valor entero*/
			const county = parseInt(this.altura); //1234 Selector de altura ---- En un inicio en blanco
			const countx = parseInt(this.seleccionadoP);//Selector de Solapamiento --- En un inicio en blanco
			const countx1 =parseInt(this.seleccinadoR);//Selector deRapidez --- En un inicio en blanco
			/**
			* Obtencion del solapamiento
			*/
			for(let x = 0; x < this.solapamientoX.length; x ++){
				for(let y = 0; y < this.alturasY.length; y ++){
					if( this.solapamientoX[x] === countx ){
						if( this.alturasY[y] === county ){
							this.resultado = y.toString();
							this.solapamiento = this.matXY[y][x];
							console.log('solapamiento: '+this.solapamiento)
							//this.altura = '';
						}
					}
				}
			}
			/* Se calcula el valor del RGB y monocromatico	*/
			for(let y = 0; y < this.alturasY.length; y ++){
				if( this.alturasY[y] === county ){
					this.mono_1 = this.monocromatico[y]; //hay que regresar el valor.
					// document.getElementById('texto_mono').innerHTML = this.monocromatico[y];
					console.log('Monocromática: '+this.monocromatico[y])
					this.rgb_1 = this.rgb[y];//hay que regresar este valor. // usando Vue js
					// document.getElementById('texto_rgb').innerHTML = this.rgb[y]; //  sin vue js. Texto plano
					console.log('RGB: '+this.rgb[y])
				}
			}
			/** A continuacón se intersectan los valores de cada elemento para obtener el color
			* y la distancia entre lineas de acuerdo al solapamiento seleccionado.
			*/
			for(let x = 0; x < this.rapidezDron.length; x ++){
				for(let y = 0; y < this.alturasY.length; y ++){
					if( this.rapidezDron[x] === countx1 ){
						if( this.alturasY[y] === county ){
							// this.resultado = y.toString();
							this.valorR = this.activacionTotalSemiNunguno[y][x];
							console.log('Valor: '+this.valorR)
							if (this.valorR >= 0.30 && this.valorR <= 0.40){
								//if (this.valorR === 0.30 | this.valorR === 0.4){
								//El ROJO indica que la cámara NO soporta los valores
								// y TODOS los sensores no funcionan en ese tiempo
								alert('Definitivamente no se recomienda usar estos valores!!!')
								console.log('COLOR RED')
								this.ColorSelected = 'red';
							}
							if ( this.valorR >= 0.50 && this.valorR <= 0.80 ){
								//El AZUL indica que la cámara NO soporta los valores
								// y CASI TODOS los sensores funcionan en ese tiempo
								alert('No funcionarán todos los sensores!!!')
								console.log('COLOR BLUE')
								this.ColorSelected = 'blue';
							}
							if(this.valorR >= 1 && this.valorR <=5.6){
								//El VERDE indica que la cámara SI soporta los valores
								// y TODOS los sensores funcionan en ese tiempo
								alert('Los valores son perfectos!!!')
						        console.log('COLOR GREEN')
								this.ColorSelected = 'green';
							}
							else{}
							//this.altura = '';
						}
					}
				}
			}
			console.log('**********************************')
            console.log('Establecer en cámara')
            //this.setupcamera();

            console.log(this.dateToDay());
            console.log(this.HoursToDay());
			console.log('')
			//this.insertTable_his();
		},//fin de posición
        dateTimeStamp: function(){
            let date = new Date();
            let timestamp = date.getTime();
            let date1 = new Date(timestamp);
            return date1;
        },
        dateToDay: function(){
		    let timeStamp = this.dateTimeStamp();
            let year = timeStamp.getFullYear(), mounth = timeStamp.getMonth()+1, day = timeStamp.getDate();
            let date = year +'/'+ mounth  +'/'+ day ;
            return date;
        },
        HoursToDay: function(){
            let timeStamp = this.dateTimeStamp();
            let hour = timeStamp.getHours(), minutes = timeStamp.getMinutes(), seconds = timeStamp.getSeconds();
            let hours = hour +':'+ minutes +':'+ seconds ;
            return hours;
        },
		insertTable_his: function(numCarpetas){
			/**
             * Se crea un objeto que almacenará cada una de las rutas de descarga tomando en cuenta la fecha-hora, numero de
             * imagenes un id, etc. Estos se almacenaran temporalmente en un Objecto para después insertarlos en el
             * JSON denominado por nameTable
             * */
			let objdatos = new Object();
			objdatos.id = valor;
            /** TimeStamp of date & hours*/
			objdatos.Fecha = this.dateToDay();
			objdatos.Hora = this.HoursToDay();
			objdatos.NumeroImg = numCarpetas;
			objdatos.RutaImg = "C:\\Users\\music\\Desktop";/** ********************************************************************************/
			objdatos.Estado = 'Pendiente';
			console.log(db.valid.bind(nameTable))

			if (db.valid.bind(nameTable)) {
				db.insertTableContent(nameTable, objdatos, (succ, msg) => {
					// succ - boolean, tells if the call is successful
					console.log("Success: " + succ);
					console.log("El objecto se ha guardado exitosamente "+ msg);
				})
			}
		},
        baseAPP: function(rUTA){
            /** GUARDAR RUTA EN Base De Datos ELECTRON
             * Se crea un objeto que almacenará cada una de las rutas de descarga tomando en cuenta la fecha-hora, numero de
             * imagenes un id, etc. Estos se almacenaran temporalmente en un Objecto para después insertarlos en el
             * JSON denominado por nameTable
             * */
            let objruta = new Object();
            objruta.id = valor;
            objruta.ruta = rUTA;
            console.log(db.valid.bind(rutaAPP_MP))

            if (db.valid.bind(rutaAPP_MP)) {
                db.insertTableContent(rutaAPP_MP, objruta, (succ, msg) => {
                    // succ - boolean, tells if the call is successful
                    console.log("Success: " + succ);
                    console.log("El objecto se ha guardado exitosamente "+ msg);
                })
            }
        },
        obtenerRUTA_MP: function () {
            db.getAll(rutaAPP_MP, (succ, data) => {
                this.rutaMP = data;
                console.log(succ)
            })
        },
        eliminarRutaMP: function (ID) {
            db.deleteRow(rutaAPP_MP, {'id': ID}, (succ, msg) => {
                console.log(msg);
                console.log(ID)
                alert('Se ha borrado la ruta anterior para una nueva selección')
            });
        },
        actualizarBD: function () {
            location.reload();
        },
        existePATH: function (path1) {
            if (pathExists.sync(path1) === true) {
                return true;
            }
            else {
                return false;
            }
        },
		abrirAPP: function(){
		    /**
		    * Se declara la variable  rutaMP de forma global
		    * se pregunta si esta es nula. Si es ingresa dentro del if
		    * y con remote.dialog.showOpenDialog() se abre la ventana de busqueda; despues de encontrar
		    * el programa, esta se abre con el comando shell.openItem.
		    * En caso de que ya haya sido encontrada solo se ejecuta el comando shell.openItem para
		    * abrir la applicación, debido a que la variable global ha guardado la ruta.
		    */
		    /*if(rutaObtenida == null){
		        let ruta = remote.dialog.showOpenDialog(); //buscador de archivos (función de electrón)
				rutaObtenida = ruta;
				if (ruta){
					shell.openItem(rutaObtenida[0])
				}else {
					alert("No se encuentra instalada la aplicación. Instale primero Missión Planner!!");
				}
			}else {
				shell.openItem(rutaObtenida[0])
			}*/
            this.obtenerRUTA_MP();
            console.log(this.rutaMP.length);
            if( this.rutaMP.length < 1 ){
                let ruta = remote.dialog.showOpenDialog(); //buscador de archivos (función de electrón)
                this.baseAPP(ruta);/**Manda a llamar al método baseAPP() y envía ruta obtenida. Este método crea un valor persistente con db.electron */
                this.obtenerRUTA_MP()/**Después de haberse guardado la ruta en index.db se busca la misma ruta guardada*/
                /**Madar llamar a reload */
                this.actualizarBD();
                /*if (ruta){
                    shell.openItem(this.rutaMP[0].ruta[0]);
                }else {
                    alert("Si no encontro Missión Planner, instale el programa y vuelva a intentar!!");
                }*/
            }else {
                let validarRuta = this.existePATH(this.rutaMP[0].ruta[0]);/** Comprobar si aún es valida la ruta*/
                if (validarRuta === true) {
                    shell.openItem(this.rutaMP[0].ruta[0]);
                    console.log("Puedo abrir app. Yeah!!")
                }
                else {
                    alert("No se encuentra la aplicación. Instale de nuevo Missión Planner!!");
                    this.eliminarRutaMP(this.rutaMP[0].id);
                }
            }
			/**shell.showItemInFolder(ruta);
            shell.openItem('C:\\Users\\music\\Desktop\\LegionAnimeApp Setup 1.0.4.exe')
            shell.openItem('C:\\Program Files (x86)\\Notepad++\\notepad++.exe') */
		},
		/** Go_Back: function () { window.history.back(); } */
	}
}
</script>

<style>
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin: auto auto;
        padding: 2em;
    }
    .caja{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .caja *{
        margin: 0.3em;
    }
    .cajita{
        display: flex;
        flex-direction: row;
        background: #e3e3e3;
        width: 100%;
        max-width: 285px;
    }
    .caja_columna{
        display: grid;
        grid-template-columns:18fr 8fr 6fr;
        grid-template-rows: 1fr 1fr 1fr;
        background: #e3e3e3;
        padding: 0.5em 1em;
        max-width: 285px;
    }
    .caja_columna span{
        display: inline-flex;
        align-items: center;
    }
    .caja_columna2{
        display: grid;
        grid-template-columns: 6.7fr 1.5fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background: #e3e3e3;
        padding: 0.5em 1em;
        max-width: 285px;
    }
    .columna2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

</style>

