<template>
	<div class="window">
		<header class="toolbar toolbar-header">
			<h1 class="title">Asistente de vuelo</h1>
		</header>
		<div class="window-content">
			<nuxt></nuxt>
		</div>
		<footer class="toolbar toolbar-footer"> </footer>
	</div>

</template>

<script>
export default{
}
</script>

<style>

</style>